<!DOCTYPE html>
<html>
<head>
    <title>Cats App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<div id="root"></div>

<% if(env==="prod"){ %>
   <script src="/bundle.js"></script>
 <% } else{ %>
   <script src="http://localhost:4000/bundle.js"></script>
<% } %>

</body>
</html>